<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap" rel="stylesheet">
        <title>Sushi Parlour</title>
        <link rel="icon" type="image/x-icon" class="title_image" href="assets/logo_original.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="layer1">
            <img src="/assets/head.png" alt="banner"/>
            <div class="menu_list">
                <ul>
                    <li><a href="#home">Welcome</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#event">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/logo_original.png"/>
            </div>
            <div class="title_one">New Opening</div>
            <div class="title_date">23rd SEPT</div>
            <div class="title_learn"><a href="#learn">learn more</a></div>
        </div>
        <div class="layer2">
            <div class="layer2_content">
                <div class="content_head">
                    <img src="/assets/order2_title_g.png"/>
                </div>
                <div class="content_details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit<br/>
                    sed do eiusmod tempor incididunt ut labore et dolorem<br/>
                    magna aliqua. Ut enim ad minim venim, quis nostrud
                </div>
            </div>
            <div class="layer2_image">
                <img src="/assets/layer2.png"/>
            </div>
        </div>
        <div class="layer3">
            <div class="flex_container">
                <div class="container1">
                    <div><img src="/assets/1dot.png" class="on_dots" alt="dots"></div>
                    <div class="container1_head"><img src="/assets/layer3_head1.png"></div>
                    <div class="container1_content">
                        Lorem ipsum sit amet, consecte<br/> sectetur adipisicing elit, tation omne <br/>ullamco laboris nisi ut aliqolore.
                    </div>
                </div>
                <div class="container1">
                    <div>
                        <img src="/assets/1dot.png" class="on_dots" alt="dots">
                        <img src="/assets/1dot.png" class="on_dots" alt="dots">
                    </div>
                    <div class="container1_head"><img src="/assets/layer3_head2.png"></div>
                    <div class="container1_content">
                        Lorem ipsum sit amet, consecte<br/> sectetur adipisicing elit, tation omne <br/>ullamco laboris nisi ut aliqolore.
                    </div>
                </div>
                <div class="container1">
                    <div>
                        <img src="/assets/1dot.png" class="on_dots" alt="dots">
                        <img src="/assets/1dot.png" class="on_dots" alt="dots">
                        <img src="/assets/1dot.png" class="on_dots" alt="dots">
                    </div>
                    <div class="container1_head"><img src="/assets/layer3_head3.png"></div>
                    <div class="container1_content">
                        Lorem ipsum sit amet, consecte<br/> sectetur adipisicing elit, tation omne <br/>ullamco laboris nisi ut aliqolore.
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_space">
        </div>
        <div class="layer4">
            <div id="learn" class="grid_container">
                <div class="grid_header">
                    <div class="head_one"><img src="/assets/tradition.png"/></div>
                    <div class="head_two">To your plate</div>
                </div>
                <div class="grid_layer1">
                    <div class="food vanilla"><img src="/assets/food1.png"/></div>
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/california_sushi.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                    <div class="food vanilla"><img src="/assets/food2.png"/></div>
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/traditional_wok.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                </div>
                <div class="grid_layer2">
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/poke_bowl.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                    <div class="food vanilla"><img src="/assets/food3.png"/></div>
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/fresh_solomon.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                    <div class="food vanilla"><img src="/assets/food4.png"/></div>
                </div>
                <div class="grid_layer3">
                    <div class="food vanilla"><img src="/assets/food5.png"/></div>
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/avocado_sushi.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                    <div class="food vanilla"><img src="/assets/food6.png"/></div>
                    <div class="food content">
                        <span class="layer_head"><img src="/assets/king_sushi.png"/></span><br/>
                        <span class="layer_content">Lorem ipsum dolor <br/> sit amet, consectectur<br/> adipisicing elit sed do
                        </span><br/>
                        <span class="amount">$14.95</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_space">
        </div>
        <div class="layer5">
            <div class="base_details">
                <span class="base_head"><img src="/assets/layer5_title.png"/></span>
                <span class="base_content">Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor <br/> 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis</span>
                <div class="base_dots">
                    <img src="/assets/3dots.png"/>
                </div>
            </div>
        </div>
        <div class="layer6">
            <img src="/assets/plate1.png" alt="plate"/>
        </div>
        <div class="layer7">
            <div id="menu" class="discover_container">
                <div class="discover_head">
                    <div class="discover_topic">
                        <img src="/assets/discover_head.png" alt="green_disover"/>
                    </div>
                    <div class="discover_content">Our new menu</div>
                </div>
                <div class="discover_layer1">
                    <div class="dicover_layer_left">
                        <img src="/assets/vector1.png"/>
                        <div class="layer_properties">
                            <div class="property_head"><img src="/assets/list_title1.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                    <div class="dicover_layer_left">
                        <img src="/assets/vector4.png"/>
                        <div class="layer_properties">
                            <div class="property_head5"><img src="/assets/list_title2.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discover_layer1">
                    <div class="dicover_layer_left">
                        <img src="/assets/vector2.png"/>
                        <div class="layer_properties">
                            <div class="property_head"><img src="/assets/list_title3.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                    <div class="dicover_layer_left">
                        <img src="/assets/vector5.png"/>
                        <div class="layer_properties">
                            <div class="property_head"><img src="/assets/list_title4.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discover_layer1">
                    <div class="dicover_layer_left">
                        <img src="/assets/vector3.png"/>
                        <div class="layer_properties">
                            <div class="property_head5"><img src="/assets/list_title5.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                    <div class="dicover_layer_left">
                        <img src="/assets/vector6.png"/>
                        <div class="layer_properties">
                            <div class="property_head5"><img src="/assets/list_title6.png"/></div>
                            <div class="property_content">
                                lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit sed do oculis
                                <span class="amount">$14.5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer8">
            <img src="/assets/plate2.png" alt="plate2"/> 
        </div>
        <div class="layer9">
            <div id="event" class="form_main">
                <div class="book_here">
                    <div class="layer1_item">
                        <img src="/assets/book_here.png" alt="book_here"/>
                    </div><br/>
                </div>
                <form action="/auth/index" onsubmit="register_booking()" method="POST">
                <div class="layer1_form">
                    <div class="layer1_item">
                        <label for="people">How many people?</label>
                        <select name="persons" id="people">
                            <option value="2">2 people</option>
                            <option value="3">3 people</option>
                            <option value="4">4 people</option>
                            <option value="5">5 people</option>
                            <option value="6">6 people</option>
                            <option value="7">7 people</option>
                            <option value="8">7+ people</option>
                        </select>
                    </div>
                    <div class="layer1_item">
                        <label for="date" required>When is your date?</label>
                        <input id="date" type="date" name="date"></input>
                    </div>
                    <div class="layer1_item">
                        <label for="time">Time</label>
                        <input id="time" type="time" name="time"></input>
                    </div>
                </div>
                <div class="layer1_form">
                    <div class="layer1_item">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="Full name" name="name"></input>
                    </div>
                    <div class="layer1_item">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Your email address" name="email"></input>
                    </div>
                    <div class="layer1_item">
                        <label for="phone">Phone</label>
                        <input id="phone" type="tel" placeholder="Your phone" name="phone"></input>
                    </div>
                </div>
                <div class="layer1_form">
                    <div class="layer1_item">
                        
                    </div>
                    <div class="layer2_form">
                        <button type="submit">Submit</button>
                    </div>
                    <div class="layer1_item">
                        <!--{{#if message}}
                            <p>{{ message }}</p>>
                        {{/if}}-->
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="layer10">
            <img src="/assets/plate3.png" alt="plate3"/>
        </div>
        <div class="layer11">
            <div class="price_list">
                <div class="price_list_head">
                    
                    <span class="price_list_topic">
                        <img src="/assets/discover_g.png" alt="green_disover"/>
                    </span>
                    <span class="price_list_content">Our New Menu</span>
                </div>
                <div class="price_list_card">
                    <div class="price_card">
                        <div class="ad_image">
                            <img src="/assets/variety1.png">
                        </div>
                        <div class="ad_details">
                            <span class="ad_date">Food/16th March, 2019</span>
                            <span class="ad_head">Lorem ipsum dolor sit</span>
                            <span class="ad_content">Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed <br/><br/>
                                Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed</span>
                            <a href="javascript:void();" class="readmore-btn">Read more</a>
                            <div class="rect"></div>
                        </div>
                        <div class="extra_info" id="demo" style="display: none">
                            <p class="more_extra">Lorem ipsum dolor sit amet,<br/>
                                consectetur adipisicing elit, sed<br/> $14.5</p>
                        </div>
                    </div>
                    <div class="price_card">
                        <div class="ad_image">
                            <img src="/assets/variety2.png">
                        </div>
                        <div class="ad_details">
                            <span class="ad_date">Food/16th March, 2019</span>
                            <span class="ad_head">Lorem ipsum dolor sit</span>
                            <span class="ad_content">Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed <br/><br/>
                                Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed</span>
                            <a href="javascript:void();" class="readmore-btn">Read more</a>
                            <div class="rect"></div>
                        </div>
                    </div>
                    <div class="price_card">
                        <div class="ad_image">
                            <img src="/assets/variety3.png">
                        </div>
                        <div class="ad_details">
                            <span class="ad_date">Food/16th March, 2019</span>
                            <span class="ad_head">Lorem ipsum dolor sit</span>
                            <span class="ad_content">Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed <br/><br/>
                                Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed Lorem ipsum dolor sit amet, lipum consectetur adipisicing elit, sed</span>
                            <a href="javascript:void();" class="readmore-btn">Read more</a>
                            <div class="rect"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer12">
            <div id="contact" class="social_icon">
                <span class="quote"><img src="/assets/quote.png"/></span>
                <span class="top_social_icon">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod <br/>
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br/>
                veniam, quis </span>
                <span class="heading"><img src="/assets/name.png"/></span>
                <div class="icon_order">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layer13">
            <div class="contact_details">
                <div class="layer1_contact">
                    <span class="contact_head">About</span>
                    <span>Lorem ipsum dolor sit amet, consec<br/>
                    tetur adipisicing elit, sed do eiumod <br/>
                    tempor incididunt ultimam</span>
                </div>
                <div class="layer2_contact">
                    <span class="contact_head">About</span>
                    <span><a href="#">Team</a></span>
                    <span><a href="#">Join Us</a></span>
                    <span><a href="#">Ethic</a></span>
                    <span><a href="#">Goals</a></span>
                </div>
                <div class="layer2_contact">
                    <span class="contact_head">About</span>
                    <span><a href="#">Team</a></span>
                    <span><a href="#">Join Us</a></span>
                    <span><a href="#">Ethic</a></span>
                    <span><a href="#">Goals</a></span>
                </div>
                <div class="layer3_contact">
                    <span class="contact_head">About</span>
                    <span><a href="#">Team</a></span>
                    <span><a href="#">Join Us</a></span>
                    <span><a href="#">Ethic</a></span>
                    <span><a href="#">Goals</a></span>                      
                </div>
            </div>
        </div>
        <script src="/JavaScript/script.js" rel="JavaScript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" rel="jquery"></script>
        <script>
            $(".readmore-btn").on('click', function(){
                $(this).parent().toggleClass("showMore");
                var replaceText = $(this).parent().hasClass("showMore") ? "Read Less" : "Read More";
                $(this).text(replaceText);
            });
        </script>
        <script type="text/javascript" src="/vanilla-tilt.js"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".vanilla"), {
                max: 25,
                speed: 400
            });

        </script>
    </body>
</html>
